.logo{
    margin-top: 20px;
    margin-left: 20px;
}
.logo-img {
    background: url(../../image/header/Ellipse.png);
    width: 57px;
    height: 57px;
}

.logo span {
    font-size: 34px;
    line-height: 23px;
    color: #3c3c3c;
    font-family: "Helvetica CE";
     margin-left: 10px;
}

.logo div:last-child{
    border-left: 1px solid grey;
    margin-left: 10px;
}
.logo div:last-child span:first-child {
    font-size: 20px;
    color: #f2ac04;
    font-family: "Novecentowide";
    font-weight: 300;
    text-align: center;
}

.logo div:last-child span:last-child {
    font-size: 14px;
    color: #929292;
    font-family: "Myriad Pro";
    text-align: center;
}
