main nav {
    width: 100%;
    height: 143px;
    background-color: #f5f6f7;
}

main nav ul {
    list-style: none;
    width: 100%;
    margin-bottom: 0px;
}

main nav ul li {
    font-size: 18px;
    color: #333333;
    font-family: "Quicksand Bold";
    font-weight: bold;
    margin-right: 36px;
}


main nav ul li button {
    width: 80px;
    height: 52px;
    background-color: #f5f6f7;
    border: none;
    cursor: pointer;
}
main nav ul li button:hover{
    background-color: #aa9b77;
}

main nav input[type="button"]{
    min-width: 204px;
    height: 52px;
    border-radius: 3px;
    border-color: #aa9b77;
    background-color: #aa9b77;
    color: #ffffff;
    font-size: 14px;
    font-family: "Quicksand Bold";
    font-weight: bold;
     margin-right: 95px;
}

@media all and (max-width: 620px) {
    .main-nav-cor{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .main-nav-cor-ul{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    main nav ul{
        padding: 0px;
    }
    
    main nav input[type="button"]{
        margin-right: 0px;
        margin-top: 10px;
    }
}
