.f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fd-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.fd-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.jc-s {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.jc-e {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.jc-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.jc-a {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.jc-b {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ai-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ai-s {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.ai-e {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.fw {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
