<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clothinn</title>

    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <header id="home" class="f fd-c jc-c ai-c">
        <nav>
            <ul class="f jc-e ai-c header-ul-cor">
                <li><a htef="index.html"><img src="image/header/Livello%208.png" alt="logo"></a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#aboutus">About us</a></li>
                <li id="cartButton"><img src="image/header/fa-shopping-cart.png" alt="Shopping cart"></li>
            </ul>
        </nav>
        <span>Our clothing , your comfort</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.</span>
    </header>
    <main id="products" class="f fd-c" ng-controller="ClothesCtrl">
        <nav class="f ai-c main-nav-cor">
            <ul class="f ai-c main-nav-cor-ul">
                <li><button id="manButton">Man</button></li>
                <li><button id="womanButton">Woman</button></li>
                <li><button id="childrenButton">Children</button></li>
            </ul>
            <input type="button" value="See all products" id="allButton">
        </nav>
        <div class="clothes f fd-c" id="man">
            <header class="f ai-e jc-e">
                <span>MEN</span>
                <span></span>
            </header>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Body</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataMBody">1</span>/<span id="allDataMBody">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnMBody"></button>
                            <button class="customNextBtnMBody"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="mbody">
                    <div class="thing f fd-c ai-c jc-b" ng-repeat="clothes in manBody">
                        <div class="f ai-s jc-b">
                            <button class="openSize f fd-c">
                                Size
                            </button>
                            <ul class="size f fd-c ">
                                <li ng-repeat="size in clothes.size">{{size}}</li>
                            </ul>
                            <div>- 48</div>
                            <button>Add to Cart</button>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Legs</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataMLegs">1</span>/<span id="allDataMLegs">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnMLegs"></button>
                            <button class="customNextBtnMLegs"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="mLegs">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in manLeg">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Footwear</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataMFootwear">1</span>/<span id="allDataMFootwear">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnMFootwear"></button>
                            <button class="customNextBtnMFootwear"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="mFootwear">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in manFootwear">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clothes f fd-c" id="woman">
            <header class="f ai-e jc-e">
                <span>Women</span>
                <span></span>
            </header>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Body</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataWBody">1</span>/<span id="allDataWBody">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnWBody"></button>
                            <button class="customNextBtnWBody"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="wbody">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in womanBody">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Legs</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataWLegs">1</span>/<span id="allDataWLegs">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnWLegs"></button>
                            <button class="customNextBtnWLegs"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="wLegs">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in womanLeg">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Footwear</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataWFootwear">1</span>/<span id="allDataWFootwear">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnWFootwear"></button>
                            <button class="customNextBtnWFootwear"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="wFootwear">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in womanFootwear">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clothes f fd-c" id="children">
            <header class="f ai-e jc-e">
                <span>Children</span>
                <span></span>
            </header>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Body</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataCBody">1</span>/<span id="allDataCBody">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnCBody"></button>
                            <button class="customNextBtnCBody"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="cbody">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in childrenBody">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Legs</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataCLegs">1</span>/<span id="allDataCLegs">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnCLegs"></button>
                            <button class="customNextBtnCLegs"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="cLegs">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in childrenLeg">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Footwear</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataCFootwear">1</span>/<span id="allDataCFootwear">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnCFootwear"></button>
                            <button class="customNextBtnCFootwear"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="cFootwear">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in childrenFootwear">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clothes f fd-c" id="all">
            <header class="f ai-e jc-e">
                <span>All</span>
                <span></span>
            </header>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Body</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataABody">1</span>/<span id="allDataABody">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnABody"></button>
                            <button class="customNextBtnABody"></button>
                        </div>
                    </div>
                </div>
                <div class="content f jc-b owl-carousel" id="abody">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in allBody">
                        <div class="f ai-s jc-b">
                            <button class="f fd-c" ng-click="hide(clothes.id, size)">
                                Size
                            </button>
                            <ul class="f fd-c " ng-hide="clothes.hide">
                                <li ng-repeat="size in clothes.size">
                                    <button ng-click="hide(clothes.id,size)" >
                                        {{size}}
                                    </button>
                                </li>
                            </ul>
                            <div>- {{clothes.sizeNow}}</div>
                            <button ng-click="addToCart(clothes)" class="insert">Add to Cart</button>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Legs</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataALegs">1</span>/<span id="allDataCALegs">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnALegs"></button>
                            <button class="customNextBtnALegs"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="aLegs">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in allLeg">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f fd-c">
                <div class="f jc-e nav">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Footwear</div>
                        <div></div>
                    </div>
                    <div>
                        <div>
                            <span id="thisDataAFootwear">1</span>/<span id="allDataAFootwear">5</span>
                        </div>
                        <div>
                            <button class="customPrevBtnAFootwear"></button>
                            <button class="customNextBtnAFootwear"></button>
                        </div>
                    </div>
                </div>
                <div class="content jc-b owl-carousel" id="aFootwear">
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in allFootwear">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clothes f fd-c" id="cart">
            <header class="f ai-e jc-e">
                <span>Cart</span>
                <span></span>
            </header>
            <div class="f fd-c">
                <div class="f jc-e ai-c nav-cart">
                    <div class="f ai-c jc-c category">
                        <div></div>
                        <div>Your clothes</div>
                        <div></div>
                    </div>
                    <div>
                        <button class="buy_All">Buy All</button>
                    </div>
                </div>
                <div class="cart-content f fw jc-c" id="y" >
                    <div class="thing f fd-c ai-c jc-c" ng-repeat="clothes in cart">
                        <div>
                            <buttton>Size</buttton>
                        </div>
                        <img src="image/clothes/Livello%202.png" alt="">
                        <div class="f jc-b ai-c">
                            <span>{{clothes.name}}</span><span>{{clothes.price}} $</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="aboutus" class="f jc-c ai-c">
        <div class="discr f jc-c ai-c">
            <span>ABOUT US</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation</span>
        </div>
    </footer>

    <script src="libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="js/data-clothes/clothes.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>

    <!--    <script src="js/popup/popup-size.js"></script>-->
    <script src="js/data-clothes/clothes.js"></script>
    <script src="js/angularjs/app.js"></script>
    <script src="js/angularjs/clothes-ctrl.js"></script>
    <script src="js/carousel/man/man-body.js"></script>
    <script src="js/carousel/man/man-leg.js"></script>
    <script src="js/carousel/man/man-footwear.js"></script>
    <script src="js/carousel/wooman/woman-leg.js"></script>
    <script src="js/carousel/wooman/woman-body.js"></script>
    <script src="js/carousel/wooman/woman-footwear.js"></script>
    <script src="js/carousel/children/children-body.js"></script>
    <script src="js/carousel/children/children-leg.js"></script>
    <script src="js/carousel/children/children-footwear.js"></script>
    <script src="js/carousel/all/all-body.js"></script>
    <script src="js/carousel/all/all-leg.js"></script>
    <script src="js/carousel/all/all-footwear.js"></script>
<!--    <script src="js/carousel/cart.js"></script>-->
    
        <script src="js/popup/popup-main-nav.js"></script>


</body></html>
